.timelineh2{
    font-family: 'Alegreya Sans SC', sans-serif;
}
.timelineimg{
    width: 100%;
    height: 100%;
    object-fit: contain;
    margin-top: 15px;
}
.timelinep{
    color: white;
    font-size: 20px;
}
@media screen and (max-width:450px) {
    .timelinep{
        font-size: 15px;
    }
}